<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/users/logout">Logout</a>
    </nav>
  </header>
  <section class="blogs-container">
    <h1>Our Blogs</h1>
    <% articles.forEach(article => { %>
      <article>
        <h2><%= article.title %></h2>
        <cite><%= article.author.username %> <br> <%= article.author.email %></cite>
        <a href="/articles/<%= article.id %>">show more</a>
      </article>
    <% }) %>
  </section>
</body>
</html>