<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/users/logout">Logout</a>
    </nav>
  </header>
  <section class="blogs-container">
    <h1>Our Blogs</h1>
    <article>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab alias, unde eaque ea cupiditate aliquid itaque. Et, eum. Est at voluptatibus, exercitationem tenetur veniam dolores voluptatem necessitatibus beatae! Magni, repellendus! Ut sunt dolor eos assumenda hic? Vel, dolores minima vitae omnis, est delectus molestiae consequuntur consequatur quam necessitatibus pariatur qui!</p>
      <cite>Sumit Chahar</cite>
      <a href="/">show more</a>
    </article>
  </section>
</body>
</html>