<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/users/logout">Logout</a>
    </nav>
  </header>
  <h1>Write an article</h1>
  <form action="/articles" method="POST">
    <label for="title">title</label>
    <input type="text" name="title" id="title" placeholder="Enter Title">
    <label for="description">description</label>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>
    <input type="submit" value="Create">
  </form>
</body>
</html>