<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/users/logout">Logout</a>
    </nav>
  </header>
  <form action="/articles/<%= article.id %>/edit" method="POST">
    <input type="text" name="title" value="<%= article.title %>">
    <textarea name="description" cols="30" rows="10">
      <%= article.description %>
    </textarea>
    <input type="submit" value="Edit Article">
  </form>
</body>
</html>