<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% if(user){ %>
    <form action="/podcast/<%= user.id %>/new" method="POST">
        <input type="text" name="title" placeholder="enter podcast name">
        <textarea name="description" cols="30" rows="10" placeholder="enter description"></textarea>
        <input type="submit" value="Request Admin for Adding Podcast">
    </form>
  <% } %>
  <% if(admin){ %>
    <form action="/podcast/<%= admin.id %>/new" method="POST">
      <input type="text" name="title" placeholder="enter podcast name">
      <textarea name="description" cols="30" rows="10" placeholder="enter description"></textarea>
      <select name="podcastType" id="podcast-type">
        <option value="free">Free</option>
        <option value="vip">VIP</option>
        <option value="premium">Premium</option>
      </select>
      <input type="submit" value="Add Podcast">
    </form>
  <% } %>
  <% if(!user && !admin){ %>
    <p>login first</p>
  <% } %>
</body>
</html>