<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>PODCASTS</h1>
  <h2>admin podcast</h2>
  <% adminPodcasts.forEach(podcast => { %>
    <p><%= podcast.title %></p>
  <% }) %>
  <hr>
  <h2>user podcasts</h2>
  <% userPodcasts.forEach(podcast => { %>
    <p><%= podcast.title %></p>
  <% }) %>
</body>
</html>