<!DOCTYPE html>
<html>
  <head>
    <title>Podcast App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>welcome home</h1>
    <div>
      <a href="/users/login">Login as user</a>
      <a href="/users/register">Register as user</a>
    </div>
    <div>
      <a href="/admin/register">Register as admin</a>
      <a href="/admin/login">Login as Admin</a>
  </body>
</html>
