<% include partials/header %>
<section class="admin flex">
  <div class="container flex">
    <a href="/admin/login">Login As Admin</a>
    <a href="/admin/register">Register As Admin</a>
  </div>
</section>

<% include partials/footer %>