<% include partials/header %>
<section class="container flex forms"></section>
<form action="" method="POST">
  <label for="adminname">Name</label>
  <input type="text" name="adminName" id="adminname" placeholder="Enter Name">
  <label for="email">Email</label>
  <input type="email" name="email" id="email" placeholder="Enter Email">
  <label for="password">Password</label>
  <input type="password" name="password" id="password" placeholder="Enter Password">
  <input type="submit" value="Login">
</form>

<% include partials/footer %>