<% include partials/header %>

<section>
  <div class="container">
    <h2><%= product.name %></h2>
    <h3><%= product.price %></h3>
    <h3><%= product.quantity %></h3>
    <a href="/users/<%= product.id %>/cart/add">add to cart</a>
  </div>
</section>

<% include partials/footer %>