<% include partials/header %>

<section>
  <div>
    <article class="dashboard-content flex">
      <h1>Products</h1>
        <div class="products-parent flex">
        <% products.forEach(product => { %>
          <div class="flex products-container">
            <div class="products-data">
              <h3><%= product.name %></h3>
              <p><%= product.price %></p>
              <a href="/products/<%= product.id %>">Show Product</a>
            </div>
            <div class="dash-image-container">
              <img src="<%= product.image %>" alt="image" class="dash-image">
            </div>
          </div>
        <% }) %> 
      </div>
    </article>
  </div>
</section>

<% include partials/footer %>