<% include partials/header %>
<section class="container flex forms">
  <form action="/users/login" method="POST" class="flex">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Enter Email">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter Password">
    <input type="submit" value="Login">
  </form>
</section>

<% include partials/footer %>