<% include partials/header %>
<section class="container flex forms">

  <form action="/users" method="POST" class="flex">
    <label for="username">Name</label>
    <input type="text" name="userName" id="username" placeholder="Enter Name">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Enter Email">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter Password">
    <input type="submit" value="Login">
  </form>

</section>
<% include partials/footer %>